@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>LETTERKENNY</h1>
    <p class="lead">
        This is the UNOFFICIAL Letterkenny final exam page. If you wanna blow smoke, go have a dart.
    </p>
    <p>Images sourced from the <a href="https://www.facebook.com/pg/letterkennyproblemsofficial" target="_blank">Letterkenny Problems Facebook page</a></p>
    <p>Theme sourced from <a href="https://bootswatch.com/3/superhero/" target="_blank">https://bootswatch.com/3/superhero/</a></p>
    <img src="~/Content/Img/banner.jpg" alt="Banner" />
</div>